.main-container {
    display: flex;
    flex-direction: row;
    height: 90vh;
}

.input-container,
.results-container {
    flex: 1;
    padding: 1px 10px;
}

.input-container {
    border-right: 2px solid #1E90FF;
}

.analyze-btn {
    border: none;
    border-radius: 12px;
    background-color: #1E90FF;
    color: white;
    font-size: 18px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

#inputText {
    border: 2px solid #000000;
    font-size: 14px;
    border-radius: 4px;
    height: 80%;
    width: 90%;
}